<?xml version="1.0"?>
<config>
    <modules>
        <PagarMeV5_Pix>
            <version>##eloom.versao##</version>
        </PagarMeV5_Pix>
    </modules>
    <global>
        <models>
            <pagarmev5_pix>
                <class>PagarMeV5_Pix_Model</class>
            </pagarmev5_pix>
        </models>
        <blocks>
            <pagarmev5_pix>
                <class>PagarMeV5_Pix_Block</class>
            </pagarmev5_pix>
        </blocks>
        <helpers>
            <pagarmev5_pix>
                <class>PagarMeV5_Pix_Helper</class>
            </pagarmev5_pix>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <pagarmev5_pix>
                    <file>pagarme-v5/pagarme_pix.xml</file>
                </pagarmev5_pix>
            </updates>
        </layout>
    </frontend>
    <frontend>
        <translate>
            <modules>
                <PagarMeV5_Pix>
                    <files>
                        <default>PagarMeV5_Pix.csv</default>
                    </files>
                </PagarMeV5_Pix>
            </modules>
        </translate>
    </frontend>
    <admin>
        <translate>
            <modules>
                <PagarMeV5_Pix>
                    <files>
                        <default>PagarMeV5_Pix.csv</default>
                    </files>
                </PagarMeV5_Pix>
            </modules>
        </translate>
    </admin>
</config>