<?xml version="1.0"?>
<config>
    <modules>
        <PagarMeV5_Boleto>
            <version>##eloom.versao##</version>
        </PagarMeV5_Boleto>
    </modules>
    <global>
        <models>
            <pagarmev5_boleto>
                <class>PagarMeV5_Boleto_Model</class>
            </pagarmev5_boleto>
        </models>
        <blocks>
            <pagarmev5_boleto>
                <class>PagarMeV5_Boleto_Block</class>
            </pagarmev5_boleto>
        </blocks>
        <helpers>
            <pagarmev5_boleto>
                <class>PagarMeV5_Boleto_Helper</class>
            </pagarmev5_boleto>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <pagarmev5_boleto>
                    <file>pagarme-v5/pagarme_boleto.xml</file>
                </pagarmev5_boleto>
            </updates>
        </layout>
    </frontend>
    <frontend>
        <translate>
            <modules>
                <PagarMeV5_Boleto>
                    <files>
                        <default>PagarMeV5_Boleto.csv</default>
                    </files>
                </PagarMeV5_Boleto>
            </modules>
        </translate>
    </frontend>
    <admin>
        <translate>
            <modules>
                <PagarMeV5_Boleto>
                    <files>
                        <default>PagarMeV5_Boleto.csv</default>
                    </files>
                </PagarMeV5_Boleto>
            </modules>
        </translate>
    </admin>
    <crontab>
        <jobs>
            <cancel_boleto_unpaid_orders>
                <schedule>
                    <cron_expr>1/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pagarmev5_boleto/UnpaidBoleto::cancel</model>
                </run>
            </cancel_boleto_unpaid_orders>
        </jobs>
    </crontab>
</config>
