<?xml version="1.0"?>
<config>
    <modules>
        <PagarMeV5_Core>
            <version>##eloom.versao##</version>
        </PagarMeV5_Core>
    </modules>
    <global>
        <helpers>
            <pagarmev5_core>
                <class>PagarMeV5_Core_Helper</class>
            </pagarmev5_core>
        </helpers>
        <models>
            <pagarmev5_core>
                <class>PagarMeV5_Core_Model</class>
                <resourceModel>pagarmev5_core_resource</resourceModel>
            </pagarmev5_core>
            <pagarmev5_core_resource>
                <class>PagarMeV5_Core_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>pagarmev5_transaction</table>
                    </transaction>
                </entities>
            </pagarmev5_core_resource>
        </models>
        <resources>
            <pagarmev5_core_setup>
                <setup>
                    <module>PagarMeV5_Core</module>
                    <class>PagarMeV5_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagarmev5_core_setup>
            <pagarmev5_core_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagarmev5_core_write>
            <pagarmev5_core_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagarmev5_core_read>
        </resources>
        <payment>
            <groups>
                <pagarmev2>Pagar.me (API V5)</pagarmev2>
            </groups>
        </payment>
    </global>
    <frontend>
        <routers>
            <pagarmev5_core>
                <use>standard</use>
                <args>
                    <module>PagarMeV5_Core</module>
                    <frontName>pagarmev5_core</frontName>
                </args>
            </pagarmev5_core>
        </routers>
        <translate>
            <modules>
                <PagarMeV5_Core>
                    <files>
                        <default>PagarMeV5_Core.csv</default>
                    </files>
                </PagarMeV5_Core>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PagarMeV5_Core>
                    <files>
                        <default>PagarMeV5_Core.csv</default>
                    </files>
                </PagarMeV5_Core>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <pagarmev5_creditcard>
                <active>0</active>
                <title><![CDATA[Cartão de Crédito]]></title>
                <model>pagarmev5_creditcard/creditcard</model>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
                <max_installments>12</max_installments>
                <interest_rate>1.49</interest_rate>
                <min_installment_value>15.00</min_installment_value>
                <free_installments>3</free_installments>
                <allowed_brands>visa,mastercard,amex,hipercard,aura,jcb,diners,elo,discover</allowed_brands>
                <sort_order>2</sort_order>
            </pagarmev5_creditcard>
            <pagarmev5_boleto>
                <active>0</active>
                <title><![CDATA[Boleto Bancário]]></title>
                <model>pagarmev5_boleto/boleto</model>
                <order_status>authorize</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <days_to_expire>1</days_to_expire>
                <instructions>
                    <![CDATA[O prazo para pagamento será de 1 (um) dia.]]>
                </instructions>
                <sort_order>3</sort_order>
            </pagarmev5_boleto>
            <pagarmev5_pix>
                <active>0</active>
                <title><![CDATA[PIX]]></title>
                <model>pagarmev5_pix/pix</model>
                <order_status>authorize</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <instructions>
                    <![CDATA[<p>Ao finalizar seu pedido, você verá o QR Code ou o código do PIX para efetuar o pagamento pelo aplicativo de sua instituição financeira.</p><p>O prazo para pagamento é de 2 horas.</p>]]></instructions>
                <sort_order>1</sort_order>
            </pagarmev5_pix>
        </payment>
    </default>
</config>
