<?xml version="1.0"?>
<config>
    <modules>
        <PagarMeV5_Creditcard>
            <version>##eloom.versao##</version>
        </PagarMeV5_Creditcard>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <pagarmev5_interest>
                        <class>pagarmev5_creditcard/quote_address_total_interest</class>
                        <after>grand_total</after>
                    </pagarmev5_interest>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <pagarmev5_interest>
                        <class>pagarmev5_creditcard/sales_order_invoice_total_interest</class>
                        <after>grand_total</after>
                    </pagarmev5_interest>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <pagarmev5_interest>
                        <class>pagarmev5_creditcard/sales_order_creditmemo_total_interest</class>
                        <after>grand_total</after>
                    </pagarmev5_interest>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <!-- Interest -->
                <pagarmev5_interest_amount>
                    <to_order>*</to_order>
                </pagarmev5_interest_amount>
                <pagarmev5_base_interest_amount>
                    <to_order>*</to_order>
                </pagarmev5_base_interest_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <models>
            <pagarmev5_creditcard>
                <class>PagarMeV5_Creditcard_Model</class>
            </pagarmev5_creditcard>
        </models>
        <blocks>
            <pagarmev5_creditcard>
                <class>PagarMeV5_Creditcard_Block</class>
            </pagarmev5_creditcard>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Eloom_Payment_Block_Sales_Order_Totals</order_totals>
                    <order_invoice_totals>Eloom_Payment_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>Eloom_Payment_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <pagarmev5_creditcard>
                <class>PagarMeV5_Creditcard_Helper</class>
            </pagarmev5_creditcard>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pagarmev5_creditcard>
                    <file>pagarme-v5/pagarme_creditcard.xml</file>
                </pagarmev5_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <PagarMeV5_Creditcard>
                    <files>
                        <default>PagarMeV5_Creditcard.csv</default>
                    </files>
                </PagarMeV5_Creditcard>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <pagarmev5_creditcard>
                    <file>pagarme-v5/pagarme_creditcard.xml</file>
                </pagarmev5_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <PagarMeV5_Creditcard>
                    <files>
                        <default>PagarMeV5_Creditcard.csv</default>
                    </files>
                </PagarMeV5_Creditcard>
            </modules>
        </translate>
    </frontend>
</config>
