<?xml version="1.0"?>
<config>
    <modules>
        <PagarMeV5_Creditcard>
            <version>##eloom.versao##</version>
        </PagarMeV5_Creditcard>
    </modules>
    <global>
        <sales>
            <order_creditmemo>
                <totals>
                    <pagarmev5_creditcard_totals>
                        <class>pagarmev5_creditcard/creditmemoTotals</class>
                    </pagarmev5_creditcard_totals>
                </totals>
            </order_creditmemo>
            <order_invoice>
                <totals>
                    <pagarmev5_creditcard_totals>
                        <class>pagarmev5_creditcard/invoiceTotals</class>
                    </pagarmev5_creditcard_totals>
                </totals>
            </order_invoice>
            <quote>
                <totals>
                    <pagarmev5_creditcard_interest>
                        <after>grand_total</after>
                        <class>pagarmev5_creditcard/quote_address_total_creditCardInterestAmount</class>
                    </pagarmev5_creditcard_interest>
                </totals>
            </quote>
        </sales>
        <models>
            <pagarmev5_creditcard>
                <class>PagarMeV5_Creditcard_Model</class>
            </pagarmev5_creditcard>
        </models>
        <blocks>
            <pagarmev5_creditcard>
                <class>PagarMeV5_Creditcard_Block</class>
            </pagarmev5_creditcard>
        </blocks>
        <helpers>
            <pagarmev5_creditcard>
                <class>PagarMeV5_Creditcard_Helper</class>
            </pagarmev5_creditcard>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pagarmev5_creditcard>
                    <file>pagarme-v5/pagarme_creditcard.xml</file>
                </pagarmev5_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <PagarMeV5_Creditcard>
                    <files>
                        <default>PagarMeV5_Creditcard.csv</default>
                    </files>
                </PagarMeV5_Creditcard>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <pagarmev5_creditcard>
                    <file>pagarme-v5/pagarme_creditcard.xml</file>
                </pagarmev5_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <PagarMeV5_Creditcard>
                    <files>
                        <default>PagarMeV5_Creditcard.csv</default>
                    </files>
                </PagarMeV5_Creditcard>
            </modules>
        </translate>
    </frontend>
</config>
